*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none ;
    text-decoration: none;
}
body{
 height: 100vh;
 background-attachment: fixed;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #4a4a4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #000;
}

header .logo {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    transition: .5s;
}

header .logo:hover{
    transform: scale(1.2);
}
header .menunav .menuul .menuli {
    position: relative;
    float: left;
}
header .menunav .menuul .menuli .menua {
    padding: 15px;
    color: #fff;
    font-size: 16px;
    display: block;
}
header .menunav .menuul .menuli .menua:hover {
    background: rgb(255, 255, 255);
    color: #4a4a4a;
}

.backphoto{
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-image:url() ;
    
}